*.csv
*.tsv
*.ipynb_checkpoints
*.pkl
pysparnn/*
env/*
.virtual_documents/*
clusterIndex.bin
new_edges.txt
!nnNodes.pkl
!enhance_vectors_with_labels.csv
!enhance_vectors_test.csv
!test_similarities.csv